//out: "../css/main.css", compress: true, sourseMap: true

@mainColor: #af936d;
@mainPadding: 116px;

.top {
  display: flex;
  justify-content: space-evenly;
  padding-left: @mainPadding;
  padding-right: @mainPadding;
  background-color: white;

  &-header {

    display: flex;
    height: 72px;
    align-items: center;

    &-logo_name {
      padding-left: 11px;
      font-family: 'Roboto', sans-serif;
      font-size: larger;
      font-weight: 900;
      align-self: center;
    }

    &-menu {
      display: flex;
      margin-top: 16px;
      margin-bottom: 16px;
      margin-left: 40px;


      &-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px;
        gap: 8px;

        width: 140px;
        height: 40px;

        background: #70C05B;
        border-radius: 4px;

        flex: none;
        order: 0;
        flex-grow: 0;
        margin-right: 16px;

        &-burger {

          width: 24px;
          height: 24px;

          flex: none;
          order: 0;
          flex-grow: 0;

          &-stroke {
            margin-top: 22%;
            margin-left: 10%;
            margin-right: 10%;
            border-radius: 5%;
            height: 1px;
            top: 22.92%;
            bottom: 72.92%;
            background: #FFFFFF;
          }
        }

        &-text {
          width: 92px;
          height: 24px;

          font-family: 'Rubik';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;

          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          color: #FFFFFF;

          flex: none;
          order: 1;
          align-self: stretch;
          flex-grow: 1;
        }
      }

      &-search {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        padding: 8px;
        gap: 10px;

        padding-left: 3%;
        width: 374px;
        height: 40px;

        background: #FFFFFF;

        border: 1px solid #70C05B;
        border-radius: 4px;

        flex: none;
        order: 1;
        flex-grow: 1;

        &-text {
          width: 316px;
          height: 24px;

          font-family: 'Rubik';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;

          display: flex;
          align-items: center;

          color: #8F8F8F;

          flex: none;
          order: 0;
          flex-grow: 1;
        }

        &-ico {
          display: flex;
          width: 100%;
          align-items: center;

          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

          /* Inside auto layout */

          flex: none;
          order: 1;
          flex-grow: 0;
        }
      }
    }
  }

  &-usermenu {

    margin-left: 40px;
    display: flex;


    &-favourites {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;



      &-text {
        margin-top: 13%;
        width: 65px;
        height: 18px;

        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;

        display: flex;
        align-items: center;
        text-align: center;

        color: #414141;

        flex: none;
        order: 1;
        flex-grow: 0;
      }
    }

    &-goods {
      margin-left: 24px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;

      &-text {
        justify-content: center;
        margin-top: 13%;
        width: 65px;
        height: 18px;

        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;

        display: flex;
        align-items: center;
        text-align: center;

        color: #414141;

        flex: none;
        order: 1;
        flex-grow: 0;
      }
    }

    &-basket {
      margin-left: 24px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;

      &-text {
        justify-content: center;
        margin-top: 13%;
        width: 65px;
        height: 18px;

        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;

        display: flex;
        align-items: center;
        text-align: center;

        color: #414141;

        flex: none;
        order: 1;
        flex-grow: 0;
      }
    }

    &-carduser {
      margin-left: 24px;
      display: flex;
      padding: 8px;


      &-user {
        display: flex;

        &-logo {
          padding-right: 10px;
          display: flex;
          align-items: center
        }

        &-name {

          padding-right: 10px;
          display: flex;
          align-items: center;

          font-family: 'Rubik';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          /* or 24px */

          display: flex;
          align-items: center;

          /* onSurface */

          color: #232323;


          /* Inside auto layout */

          flex: none;
          order: 1;
          align-self: stretch;
          flex-grow: 1;
        }
      }

      &-v {
        padding: 8px;
        display: flex;
        align-items: center
      }
    }
  }
}

.marketing {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: url(/img/bg_marketing.svg);
  padding-left: @mainPadding ;
  padding-right: @mainPadding ;

  &-content {
    display: flex;


    &-text {
      margin-left: 18px;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 150%;
      display: flex;
      align-items: center;
      text-align: center;
      color: #414141;
    }


  }
}